html,body{
    margin: 0;
}

body{
    padding-top:40px;
}

nav{
    width:100vw;
    height: 40px;
    padding: 10px;
    background:rgb(91, 109, 180);
    position: fixed;
    top: 0;
    color: white;
}

.flex{
    display: flex;
}

.sidebar{
    width:200px;
}

aside{
    height: 20vh;
    background-color: blueviolet;
    position: sticky;
    top: 80px;
    left: 40px;
}

section{
    width:800px;
}
